.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  height: 200px;
  border: 2px dashed rgb(0, 60, 255);
  pointer-events: none;
}

.game-container {
  margin: 0 auto;
  position: relative;
  width: auto;
  height: 800px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.bird {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  animation: fly 5s infinite linear;
}

@keyframes fly {
  0% {
    top: 150px;
    left: 150px;
  }
  10% {
    top: 600px;
    left: 600px;
  }
  15% {
    top: 400px;
    left: 900px;
  }
  25% {
    top: 600px;
    left: 1000px;
  }
  35% {
    top: 100px;
    left: 800px;
  }
  45% {
    top: 50px;
    left: 1500px;
  }
  55% {
    top: 150px;
    left: 1000px;
  }
  65% {
    top: 340px;
    left: 500px;
  }
  75% {
    top: 350px;
    left: 1200px;
  }
  85% {
    top: 600px;
    left: 600px;
  }
  95% {
    top: 100px;
    left: 200px;
  }
  100% {
    top:  150px;
    left: 150px;
  }
} 

.capture-button {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-self: center;
  margin-top: 250px;
  border-radius: 100%;
  background-color: aquamarine;
  border: none;
  padding: 20px;
}

.capture-button:hover {
  background-color: rgb(108, 197, 167);
  cursor: pointer;
}

.score {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 18px;
}

.mistakes {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 18px;
}

.won {
  background-color: rgb(108, 197, 167);
  display: none;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  width: 30%;
}

.mistake {
  background-color: rgb(0, 60, 255);
  display: none;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  width: 30%;
}