div {
    display: flex;
    justify-content: center;
}

p {
    display: flex;
    justify-content: center;
}

img {
    width: 400px;
    height: 300px;
    object-fit: cover;
}

.main {
    width: 1500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    margin-top: 45px;
    margin-bottom: 45px;
}

.first {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 45px;
}

.second {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 45px;
}

.third {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.animal {
    display: flex;
    justify-content: center;
    width: 30%;
}

.name {
  align-self: center;
	display: flex;
	justify-content: center;
	font-size: 30px;
}

.image-container {
  position: relative;
}

.image-container img {
  transition: filter 0.3s;
}

.image-container .image-info {
  position: absolute;
  top: 0;
  left: 25px;
  width: 400px;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  opacity: 0;
  transition: opacity 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 18px;
}

.image-container:hover img {
  filter: brightness(0.5);
}

.image-container:hover .image-info {
  opacity: 1;
}